In [ ]:
import numpy as np

In [ ]:
gender=np.array([1,1,1,1,1,1,1,1,1,2,2,2,2,2,2])
age=  np.array( [1,1,1,1,1,1,1,1,2,2,2,2,2,2,2])
head=  np.array([4512,3738,4261,3777,4177,3585,3785,3559,3613,3982,3443,3993,3640,4208,3832])
weight=np.array([1530,1297,1335,1282,1590,1300,1400,1255,1355,1375,1340,1380,1355,1522,1208])

In [ ]:
min=np.min(gender)
max=np.max(gender)

In [ ]:
gg=[]
for i in range(0,len(gender)):
  gg.append((gender[i]-min)/(max-min))

In [ ]:
print(gg)

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

In [ ]:
min=np.min(age)
max=np.max(age)
age2=[]
for i in range(0,len(age)):
  age2.append((age[i]-min)/(max-min))
print(age2)

[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

In [ ]:
min=np.min(head)
max=np.max(head)
head2=[]
for i in range(0,len(head)):
  head2.append((head[i]-min)/(max-min))
print(head2)

[1.0, 0.27595884003741816, 0.7652011225444341, 0.3124415341440599, 0.686623012160898, 0.13283442469597756, 0.3199251637043966, 0.10851262862488306, 0.15902712815715622, 0.5042095416276894, 0.0, 0.5144995322731525, 0.1842843779232928, 0.715622076707203, 0.3638914873713751]

In [ ]:
min=np.min(weight)
max=np.max(weight)
weight2=[]
for i in range(0,len(weight)):
  weight2.append((weight[i]-min)/(max-min))
print(weight2)

[0.8429319371727748, 0.23298429319371727, 0.3324607329842932, 0.193717277486911, 1.0, 0.24083769633507854, 0.5026178010471204, 0.12303664921465969, 0.38481675392670156, 0.43717277486910994, 0.34554973821989526, 0.450261780104712, 0.38481675392670156, 0.8219895287958116, 0.0]

In [ ]:
print("minmax scaling of given data is:")
print(gg)
print(age2)
print(head2)
print(weight2)

minmax scaling of given data is:
[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
[1.0, 0.27595884003741816, 0.7652011225444341, 0.3124415341440599, 0.686623012160898, 0.13283442469597756, 0.3199251637043966, 0.10851262862488306, 0.15902712815715622, 0.5042095416276894, 0.0, 0.5144995322731525, 0.1842843779232928, 0.715622076707203, 0.3638914873713751]
[0.8429319371727748, 0.23298429319371727, 0.3324607329842932, 0.193717277486911, 1.0, 0.24083769633507854, 0.5026178010471204, 0.12303664921465969, 0.38481675392670156, 0.43717277486910994, 0.34554973821989526, 0.450261780104712, 0.38481675392670156, 0.8219895287958116, 0.0]

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('/content/housing1.csv')
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
print(data.dtypes)

longitude             float64
latitude              float64
housing_median_age      int64
total_rooms             int64
total_bedrooms        float64
population              int64
households              int64
median_income         float64
median_house_value      int64
ocean_proximity        object
dtype: object

In [ ]:
print(data.shape)

(20640, 10)

In [ ]:

null_values = data.isnull().sum()


print("Null values in each column:")
print(null_values)


data_filled = data.fillna(data.fillna(data.mean()))
print("\nDataFrame after filling null values:")
print(data_filled)

Null values in each column:
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

DataFrame after filling null values:
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                  41          880           129.0
1        -122.22     37.86                  21         7099          1106.0
2        -122.24     37.85                  52         1467           190.0
3        -122.25     37.85                  52         1274           235.0
4        -122.25     37.85                  52         1627           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                  25         1665           374.0
20636    -121.21     39.49                  18          697           150.0
20637    -121.22     39.43                  17         2254           485.0
20638    -121.32     39.43                  18         1860           409.0
20639    -121.24     39.37                  16         2785           616.0

       population  households  median_income  median_house_value  \
0             322         126         8.3252              452600
1            2401        1138         8.3014              358500
2             496         177         7.2574              352100
3             558         219         5.6431              341300
4             565         259         3.8462              342200
...           ...         ...            ...                 ...
20635         845         330         1.5603               78100
20636         356         114         2.5568               77100
20637        1007         433         1.7000               92300
20638         741         349         1.8672               84700
20639        1387         530         2.3886               89400

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]

<ipython-input-32-8c2a9b3c56c0>:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data_filled = data.fillna(data.fillna(data.mean()))

In [ ]:
target_variable = 'median_income'

features = data.drop(target_variable, axis=1)


print("Features:")
print(features)
print("\nTarget Variable:")
print(data[target_variable])

Features:
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                  41          880           129.0
1        -122.22     37.86                  21         7099          1106.0
2        -122.24     37.85                  52         1467           190.0
3        -122.25     37.85                  52         1274           235.0
4        -122.25     37.85                  52         1627           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                  25         1665           374.0
20636    -121.21     39.49                  18          697           150.0
20637    -121.22     39.43                  17         2254           485.0
20638    -121.32     39.43                  18         1860           409.0
20639    -121.24     39.37                  16         2785           616.0

       population  households  median_house_value ocean_proximity
0             322         126              452600        NEAR BAY
1            2401        1138              358500        NEAR BAY
2             496         177              352100        NEAR BAY
3             558         219              341300        NEAR BAY
4             565         259              342200        NEAR BAY
...           ...         ...                 ...             ...
20635         845         330               78100          INLAND
20636         356         114               77100          INLAND
20637        1007         433               92300          INLAND
20638         741         349               84700          INLAND
20639        1387         530               89400          INLAND

[20640 rows x 9 columns]

Target Variable:
0        8.3252
1        8.3014
2        7.2574
3        5.6431
4        3.8462
          ...
20635    1.5603
20636    2.5568
20637    1.7000
20638    1.8672
20639    2.3886
Name: median_income, Length: 20640, dtype: float64

In [ ]:

from sklearn.preprocessing import MinMaxScaler


numeric_columns = data.select_dtypes(include=['float64', 'int64']).columns

numeric_data = data[numeric_columns]


scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(numeric_data)

scaled_data_df = pd.DataFrame(scaled_data, columns=numeric_columns)


print("\nNormalized Numerical Data:")
print(scaled_data_df)
print("\nAdditional Descriptive Statistics:")
print(data.describe())

Normalized Numerical Data:
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       0.211155  0.567481            0.784314     0.022331        0.019863
1       0.212151  0.565356            0.392157     0.180503        0.171477
2       0.210159  0.564293            1.000000     0.037260        0.029330
3       0.209163  0.564293            1.000000     0.032352        0.036313
4       0.209163  0.564293            1.000000     0.041330        0.043296
...          ...       ...                 ...          ...             ...
20635   0.324701  0.737513            0.470588     0.042296        0.057883
20636   0.312749  0.738576            0.333333     0.017676        0.023122
20637   0.311753  0.732200            0.313725     0.057277        0.075109
20638   0.301793  0.732200            0.333333     0.047256        0.063315
20639   0.309761  0.725824            0.294118     0.070782        0.095438

       population  households  median_income  median_house_value
0        0.008941    0.020556       0.539668            0.902266
1        0.067210    0.186976       0.538027            0.708247
2        0.013818    0.028943       0.466028            0.695051
3        0.015555    0.035849       0.354699            0.672783
4        0.015752    0.042427       0.230776            0.674638
...           ...         ...            ...                 ...
20635    0.023599    0.054103       0.073130            0.130105
20636    0.009894    0.018582       0.141853            0.128043
20637    0.028140    0.071041       0.082764            0.159383
20638    0.020684    0.057227       0.094295            0.143713
20639    0.038790    0.086992       0.130253            0.153403

[20640 rows x 9 columns]

Additional Descriptive Statistics:
          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split



target = data[target_variable]


X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)


print("Training set - Features shape:", X_train.shape)
print("Testing set - Features shape:", X_test.shape)
print("Training set - Target shape:", y_train.shape)
print("Testing set - Target shape:", y_test.shape)

Training set - Features shape: (16512, 9)
Testing set - Features shape: (4128, 9)
Training set - Target shape: (16512,)
Testing set - Target shape: (4128,)